<div class="header-promotion">
         <!--<div>
          <div class="editors-note image-banner">
			<a href="/editors-note/"><img src="/sites/all/themes/creative-responsive-theme/images/editors_note.png" alt="Editor's note email newsletter"></a>
          </div>
		
      </div> .image-banner -->
      
      <!--
      <div>
        <div class="site-sponsor site-sponsor-gibraltar">
      <p>Visit our partner site</p>
      <a href="/gibraltar/"><img src="/sites/all/themes/creative-responsive-theme/images/gibraltar.png" alt="Gibraltar"></a>
    </div>
      </div>
      -->

      <!-- <div>
        <div class="newsletter-promotion">
          <a href="/from-number-71/">
          <img src="/sites/all/themes/creative-responsive-theme/images/from_number_71.png" alt="From No. 71">
          </a>
        </div>
   
      </div>-->

      <!--<div>-->
        <!--<div class="conferences-promotion">
          <a href="/conferences_conservative/">
            <img src="/sites/all/themes/creative-responsive-theme/images/conferences_2015.png" alt="Conferences 2015">
          </a>
        </div>-->
        <!-- .newsletter-promotion -->
      <!--</div>-->
      
       <!-- <div class="podcast-promotion srsly-podcast">
          <a href="/srsly/">
          <small>SRSLY</small>
          <span>Podcast</span></a>
        </div>
        .podcast-promotion 
      </div>-->
       <?php print render($page['carouselevent']); ?>  
      <div>
        <div class="twitter-follow-promotion">
          <a href="https://twitter.com/NewStatesman">
             <strong>Follow us</strong>
             on Twitter
          </a>
        </div>
        <!-- .follow-promotion -->
      </div>
      <div>
        <div class="podcast-promotion">
          <a href="/podcast/">
          <small>New Statesman</small>
          <span>Podcast</span></a>
        </div>
        <!-- .podcast-promotion -->
      </div>

    </div>
    <!-- header-promotion -->
  </div>
  <!-- .row -->