<div class="header-promotion">
	
	<div>
		<div class="promotion fintech-promotion">
			<a href="https://www.fintech.newstatesman.com/"><img src="https://www.newstatesman.com/sites/default/files/styles/large/public/fintech_banner_210x77-1.jpg?itok=gnrvSk90" /> </a>
		</div>
		<!-- .fintech promotion -->
	</div>

	<div>
		<div class="promotion cybersecurity-promotion">
			<a href="https://cybersecurity.newstatesman.com/"><img src="https://www.newstatesman.com/sites/default/files/styles/large/public/cyber_security_banner_210x77-1.jpg?itok=bq4VlDGn" /> </a>
		</div>
		<!-- .cybersecurity-promotion -->
	</div>

	

	<!-- <div>
		<div class="promotion NPC-promotion">
			<a href="https://www.eventbrite.co.uk/e/northern-powerhouse-conference-2018-tickets-46356871651"><img src="https://www.newstatesman.com/sites/default/files/styles/large/public/northern_powerhouse_banner_210x77.jpg?itok=_2HxkyNV" /> </a>
		</div>
		
	</div> -->

	<div>
		<div class="podcast-promotion">
			<a href="/podcast/"><small>New Statesman</small> <span>Podcast</span></a>
		</div>
		<!-- .podcast-promotion -->
	</div>

	<div>
		<div class="twitter-follow-promotion">
			<a href="https://twitter.com/NewStatesman"><strong>Follow us</strong> on Twitter </a>
		</div>
		<!-- .follow-promotion -->
	</div>

</div>
<!-- header-promotion -->