<div class="header-promotion">
	<div>
		<div <div class="promotion christmas-promotion">
	      <a href="https://www.newstatesman.com/subscribe12">
	        <img src="/sites/all/themes/creative-responsive-theme/images/carousel-subscribe-new.jpg" alt="New Statesman Christmas offer: Subscribe for just £1.96 an issue">
	      </a>
	    </div>

	</div>
	
<!-- 	<div>
		<div class="twitter-follow-promotion">
			<a href="https://twitter.com/NewStatesman"><strong>Follow us</strong> on Twitter </a>
		</div>
	</div>

	<div>
		<div class="podcast-promotion">
			<a href="/podcast/"><small>New Statesman</small> <span>Podcast</span></a>
		</div>
	</div> -->


</div>
<!-- header-promotion -->