/* remove cancel button on register and login modal */
#widget-body button[type=reset] {
   display: none !important;
}

ev-forgot-password #widget-body button[type=reset] {
   display: block !important;
}

.tns-pp{
    clear:both;
}
.tns-checking-profile{
    display: none !important;
}

.ev-meter-content{
    visibility: hidden;
    opacity: 0;
}


/* will be used to show relevant modal */
.tns-modal-active{
	display: block !important;
}

body.tns-modal-active:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #000000bd;
}

/* The Modal (background) */
.tns-modal-wrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tns-modal-wrapper .tns-modal--register {
  z-index: 999 !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /*overflow: auto;*/
  overflow: hidden;
  height: auto !important;
  margin: 5% auto;
}

.tns-modal-wrapper .tns-modal--login {
  z-index: 999 !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  height: auto !important;
  margin: 5% auto;
}

/* Modal login/register */
.tns-modal {
    display: none;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    min-height: 350px;
}

/* The Close Button */
.tns-close {
    position: relative;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #4D80B2 !important;
    color: #FFF!important;
    text-decoration: none!important;
    font-size: 18px;
    line-height: 36px;
    text-align: center;

    float: right;
    z-index: 101;
}

.tns-close:hover,
.tns-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/****** PayWall *******/
.ev-open-modal-paywall-login{
    overflow: auto !important;

}



/* Evolok / Paywall

Just changed my Facebook name to 'No one' so when I see stupid posts I can click like and it will say 'No one likes this'.

Cha ching, ba da bing

*/

.tns-modal.tns-modal--paywall {
    width: 60%;
    padding-top: 5em;
    position: relative;
    box-shadow: 0 0 5em 0 rgba(0,0,0,0.1);
    border: solid 1px #ededed;
}
    .tns-modal--paywall:before {
        content: '';
        background: url('https://ind-paywall-new-statesman.pantheonsite.io/sites/default/files/newstatesman_logo.png') no-repeat;
        background-size: 100%;
        display: block;
        width: 20em;
        height: 5em;
        position: absolute;
        left: 50%;
        margin-left: -10em;
        top: 3.5em;
    }
    .tns-modal--paywall h1 {
        font: bold 7em/1 "Unit Slab",Georgia,serif;
        letter-spacing: -0.02em;
        margin: 0.25em 0 0.15em 0;
    }
    .ev p {
        font: 300 1.8em/1.5 Merriweather, Georgia, serif;
        color: #8e8e8e;
        margin: 0 0 0.5em 0;
    }
    .col-md-4 {
        padding: 2em 3em 2em 2.5em;
    }
    .widget-header {
        display: none;
    }
    .tns-modal-wrapper .widget-body {
        padding: 0em 0 0 0;
    }
    .ev .form-group {
        margin-bottom: 8px;
        position: relative;
        margin-left: 0 !important;
    }
        .col-md-4 .ev .form-group:after {
            content: 'Required' !important;
            font: 1.2em/1 "Source Sans Pro",helvetica,arial,sans-serif;
            text-transform: uppercase;
            position: absolute;
            right: 1em;
            top: 1.5em;
            color: #999;
            transition: opacity 0.4s ease-in-out;
        }
        .col-md-4 .ev .form-group:focus:after {
            display: none;
            opacity: 0;
        }
        .col-sm-9 .col-md-4 .ev .form-group:after {
            display: none;
        }
        .ev .form-control {
            font-size: 16px !important;
            height: 40px !important;
        }
        .col-md-4 .ev .form-group.col-sm-9 {
            width: 100%;
        }
            .col-md-4 .ev .form-group.col-sm-9 .ng-binding, .tns-pp {
                text-align: left;
                font-weight: normal;
                font-size: 14px;
                color: #666;
                /*font-family: "Source Sans Pro", Helvetica, arial, sans-serif;*/
                font-family: Unit, "Helvetica Neaue", Helvetica, Arial, sans-serif;
            }
            .col-md-4 .ev .col-sm-9 .form-group:after, .col-md-4 .ev .form-group:focus:after, .col-md-4 .ev .form-group:active:after {
                display: none !important;
            }
            .ev .form-group input {
                background: transparent !important;
            }
        #buttonPanel .form-group:after, .col-md-4 .ev .form-group:focus:after, .col-md-4 .ev .form-group.col-sm-9:after, .col-md-4 .ev .form-group:focus:after {
            display: none !important;
        }
    .ev .btn-success {
        background: #c1002a;
        border: none;
        width: 100%;
        font-size: 2.4em;
        font-weight: bold;
    }

.tns-modal--paywall .col-md-8 {
    /*padding-top: 510px;*/
    position: relative;
    padding: 0 0 0 3.5em;
}
    /*.tns-modal--paywall .col-md-8:before {
        content: '';
        background: url(/sites/all/themes/creative-responsive-theme/images/paywall_pop_jan_2018.jpg) no-repeat;
        background-size: 100%;
        position: absolute;
        top: 28px;
        left: 30px;
        right: 0;
        height: 455px;
    }*/
    .tns-modal--paywall .col-md-8 p, .tns-modal--paywall .col-md-8 ul {
        text-align: center;
    }
    .tns-modal--paywall .col-md-8 ul, .subscription-option ul {
        list-style: none;
    }
        .tns-modal--paywall .col-md-8 ul li, .subscription-option ul li {
            position: relative;
            padding-left: 2em;
            color: #8e8e8e;
        }
            .tns-modal--paywall .col-md-8 ul li:before, .subscription-option ul li:before, ev-product-selection .product-features ul li:before /*, .product-features li:before*/ {
                content: '1.';
                display: inline-block;
                width: 0.7em;
                height: 0.7em;
                position: relative;
                margin-right: 0.2em;
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(2):before, .subscription-option ul li:nth-child(2):before, ev-product-selection .product-features ul li:nth-child(2):before {
                content: '2.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(3):before, .subscription-option ul li:nth-child(3):before, ev-product-selection .product-features ul li:nth-child(3):before {
                content: '3.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(4):before, .subscription-option ul li:nth-child(4):before, ev-product-selection .product-features ul li:nth-child(4):before {
                content: '4.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(5):before, .subscription-option ul li:nth-child(5):before, ev-product-selection .product-features ul li:nth-child(5):before {
                content: '5.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(6):before, .subscription-option ul li:nth-child(6):before, ev-product-selection .product-features ul li:nth-child(6):before {
                content: '6.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(7):before, .subscription-option ul li:nth-child(7):before, ev-product-selection .product-features ul li:nth-child(7):before {
                content: '7.';
            }
            .tns-modal--paywall .col-md-8 ul li:nth-child(8):before, .subscription-option ul li:nth-child(8):before, ev-product-selection .product-features ul li:nth-child(8):before {
                content: '8.';
            }

.tns-close {
    top: -2em;
    right: -2em;
    background: #c1002a !important;
}

.tns-modal--paywall .tns-close {
    top: -2.6em;
    right: -1.2em;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

span.tns-right {
  display: block;
  background: #f7f7f7;
  padding: 2em 3em;
  text-align: center;
  font-size: 1.6em;
  color: #888;
  border-top: solid 1px rgba(0,0,0,0.03);
  position: relative;
  height: auto;
  overflow: auto;
}

.tns-modal--login span.tns-right {
    background: none;
    position: relative;
    z-index: 999;
}
#login-flip-back {
    width: 91%;
    height: 290px;
    padding-top: 4em;
}
.tns-modal--login #login-flip-back #buttonPanel button {
    margin-top: 0;
    margin-bottom: 1em;
}


.node-paywall > div {
    width: 60% !important;
    text-align: left;
    margin: 0 auto;
}
    .article-body .node-paywall > div {
        width: 100% !important;
    }
    #ev-widget.profile-when-EVc2100fd80858c {
        text-align: left;
        margin: 4em auto;
        max-width: 100%;
        width: 700px;
        padding: 4em;
        border: solid 1px #ebebeb;
        box-shadow: 0 0 3em 0 rgba(0,0,0,0.2);
    }
        #ev-widget.profile-when-EVc2100fd80858c .col-sm-offset-2 {
            width: 100%;
        }
    .form-group label {
        font: lighter 1.6em "Source Sans Pro", helvetica, arial, sans-serif;
        color: #777;
    }
    /*.control-label {
        display: none !important;
    }*/

.spev-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background: #4D80B2 !important;
    color: #FFF!important;
    text-decoration: none!important;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.site-header .tns-evo-profile {
    font: 1.8em "Source Sans Pro",helvetica,arial,sans-serif;
    padding: 0;
    float: right;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 1.8;
    display: inline-block;
}
.checkout-header .tns-evo-profile {
    margin: 0.85em 1em 0 0;
}
    .site-header .tns-evo-profile a {
        padding: 0 0.3em;
        color: black;
        cursor: pointer !important;
        font-weight: bold; font-size: 1.0em !important;
        text-decoration: none;
    }
    .site-header .tns-evo-profile button {
        text-transform:  uppercase;
        background: none;
        color: black;
    }
        .site-header .tns-evo-profile .tns-register {
            margin-left: 1em;
            font-weight: bold;
        }
        .site-header .tns-evo-profile .ev span {
            display:  none;
        }


/* Notify of how many more articles they can read */
body.tns-modal-active {
    overflow: hidden !important;
}
    .tns-modal-wrapper {
        position: fixed;
    }
        .tns-modal--paywallNotifier {
            padding: 4em;
            background: rgba(111,130,139,0.98);
            padding-left: 25%;
            text-align: left;
            min-height: 0 !important;
            width: 100% !important;
            bottom: 0 !important;
            position: fixed !important;
            margin: 0;
            z-index: 9999;
        }
            .site-footer-visible .tns-modal--paywallNotifier {
                bottom: 4em !important;
            }
            .tns-modal--paywallNotifier .ng-binding {
                text-align: left;
            }
            .tns-modal--paywallNotifier:before {
                content: '';
                background: url('https://www.newstatesman.com/sites/default/files/styles/large/public/politicians.jpg') no-repeat left center;
                background-size: 100%;
                width: 30em;
                height: 20em;
                position: absolute;
                left: 4em;
                top: 50%;
                margin-top: -10em;
            }

            .tns-modal--paywallNotifier img {
                width: 150px;
            }
            .tns-modal--paywallNotifier p {
                font: lighter 2em 'Source Sans Pro', Helvetica, Arial, sans-serif;
                color: white;
                margin: 0 !important;
            }
            /*.tns-modal--paywallNotifier .counter {
                font-size: 10em;
                letter-spacing: -0.15em;
                margin: -10px 0 20px;
            }
                .tns-modal--paywallNotifier .counter span.count {
                    position: relative;
                    top: -20px;
                    color: #c1002b;
                }
                .tns-modal--paywallNotifier .counter span.total {
                    position: relative;
                    bottom: -20px;
                }
            .tns-modal--paywallNotifier h3 {
                font-size: 3.2em;
                margin: 0;
                text-align: left;
            }*/
             .tns-modal--paywallNotifier img {
                float: left;
             }
            .tns-modal--paywallNotifier div.cta {
                margin: 0;
            }
                .tns-modal--paywallNotifier div.cta a {
                    background: #ed1e26;
                    color: white;
                    padding: 1em;
                    border-radius: 0.15em;
                    box-shadow: 0 0 1em 0 rgba(0,0,0,0.2);
                    font-weight: normal;
                    transition: all 0.5s ease-in-out;
                    display: block;
                    width: 10em;
                    text-align: center;
                    font-size: 0.8em;
                }
                    .tns-modal--paywallNotifier div.cta a:hover {
                        background: #c1002a;
                        text-decoration: none;
                    }
            .tns-modal--paywallNotifier span.tns-right {
                position: static;
                margin: 0;
                padding: 5px;
                text-align: left;
                clear: both;
                background: none;
                margin-top: 1em;
                color: white !important;
                background: none !important;
            }
#bancol{
    padding: 1em 0 0 3.5em;
}
#bannimg{

    margin-top: 0 !important;
}

#singlebutton {

    border: 0;
    border-radius: 1px;
    width: 50%;
    box-shadow: none;
    background: #c1002a;
    margin-bottom: 0px;
    font-size: 1.3rem !important;
}
.validation{
   color: #da0808;
    font-size: 0.8125rem;
    text-align: left;
    margin: 5px -6px;
    /* margin-right: 6px; */
    padding-right: 32px !important;
    font-weight: bold;
}

.rvalidation{
      color: #c80c15;
    font-family: Unit, "Helvetica Neaue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    text-align: left;
    margin: 0px -15px 5px;
    padding-left: 2px !important;
    padding-right: 0px !important;
    font-weight: normal;
}
.tns-modal--register .form-group{
    margin-bottom: 10px !important;
}
.tns-modal--register button[type="submit"]{
    font-size: 0.9375rem !important;
}

select#billing-address-country, select#delivery-address-country2 {
    color: #999;
}
.ev a{
     font-size: 1rem !important;
}
.ev span{
    /*font-size: 0.8125rem !important;*/
}
button.tns-btn.tns-login{
        font-size: 1em !important;
    font-weight: bold !important;
}
button.tns-btn.tns-register{
        font-size: 1em !important;
    font-weight: bold !important;
}
@media (min-width: 1024px) {
     .tns-modal--paywallNotifier .register-cta, .tns-modal--paywallNotifier .subscribe-cta-2 {
        border-bottom: solid 1px rgba(0,0,0,0.3);
        clear: both;
        padding: 1em 0;
    }
        .tns-modal--paywallNotifier .register-text, .tns-modal--paywallNotifier .subscribe-text {
            width: 70%;
            float: left;
        }
        .tns-modal--paywallNotifier .cta {
            float: right;
            width: 29%;
            padding-left: 1em;
        }
}
@media (min-width: 900px) and (max-width: 1100px) {
    .tns-modal--paywallNotifier img {
        position: absolute;
        left: 3em;
        bottom: 3em;
    }
    .tns-modal--paywallNotifier {
        padding-left: 30%;
    }
    .tns-modal--paywallNotifier:before {
        width: 25em;
        height: 26em;
        top: 0;
        left: 3em;
        margin-top: 0;
    }
    .tns-modal--paywallNotifier div.cta {
        margin: 1em 0;
    }
}
@media (max-width: 900px) {
    .tns-modal--paywallNotifier {
        padding: 2em;
        margin-bottom: 6em;
    }
    .tns-modal--paywallNotifier img {
        float: none;
        margin: 0 0 1em 0;
    }
    .tns-modal--paywallNotifier:before {
        display: none;
    }
    .tns-modal--paywallNotifier div.cta {
        margin: 1em 0;
        font-size: 1.4em;
    }
    .tns-close {
        top: -1em;
        right: -1em;
    }
}
@media (max-width: 460px) {
    .tns-modal--paywallNotifier {
        padding: 2em !important;
    }
}
@media(max-width: 1170px) {
    .node-paywall {
        overflow: hidden;
    }
}
@media (min-width: 1280px) {
    .tns-modal--paywallNotifier {
        padding-right: 25%;
    }
}



/* Register box */
.tns-modal--register {
    padding: 4em;
}
    .tns-modal--register .tns-right {
        margin: 7em -2em -2em -2em;
    }


/* Login box */
.tns-modal {
    position: relative;
    min-height: 420px;
    width: 38%;
    box-shadow: 0 0 4em 0 rgba(0,0,0,0.2);
    z-index: 999;
}
    #login-flip-front {
        min-width: 0px;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        padding: 3em;
    }
        #login-flip-front .widget-body {
            padding: 0;
        }
            #login-flip-front .widget-body .spacer {
                display: none !important;
            }
            .ng-binding {
                text-align: center;
            }
            .tns-modal .ev .btn {
                font-size: 1.6em !important;
                margin-top: 1em;
            }
    .tns-modal--login .tns-close {
        top: -1em;
        right: -1em;
    }


.tns-modal--sociallogin {
    width: 600px;
}
    .tns-modal--sociallogin .col-sm-offset-2 {
        width: 100%;
        margin: 3em 0 0 0;
    }

.cancelAnchorCaption {
    float: none;
    display: block;
    padding: 3em;
    background: #f7f7f7;
    border-top: solid 1px #ebebeb;
}
@media (min-width: 900px) and (max-width: 1440px) {
    .tns-modal.tns-modal--paywall {
        width: 800px;
    }
}


.ev .row {
    margin: 0;
}
@media (max-width: 990px) {
    .ev .row {
        margin: 0;
    }
}
@media (max-width: 900px) {
    .tns-modal.tns-modal--paywall {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (min-width: 900px) {

    #widget-body .widget-input {
        position: relative;
       /* z-index: 999;*/
    }
    #buttonPanel button {
        box-shadow: 0em 0.1em 0.5em 0 rgba(0,0,0,0.4);
        border-top: solid 1px rgba(255,255,255,0.7);
        border-bottom: solid 1px rgba(0,0,0,0.3);
        position: relative;
        transition: all 0.3s ease-in-out;
        /*padding: 1em;*/
        padding: 0.625em;
    }
        #buttonPanel button:hover {
            box-shadow: 0em 0.05em 0.3em 0 rgba(0,0,0,0.7);
        }
    .tns-modal--login #buttonPanel button {
        font-size: 1em !important;
    }
}
@media (max-width: 640px) {
    .tns-modal--sociallogin {
        width: 96%;
        margin-left: 2%;
    }
}
@media (max-width: 790px) {
    .tns-evo-profile {
      position: relative;
      z-index: 9999;
    }
}
@media (max-width: 700px) {
    .tns-modal--paywall h1 {
        font-size: 4.4em;
    }
}
@media (max-width: 460px) {
    .tns-modal.tns-modal--paywall {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .tns-modal {
        padding: 2em; margin-bottom: 2em;
    }
    .tns-modal--paywall:before {
        width: 12em;
        height: 3em;
        margin-left: -7em;
        top: 4.5em;
    }
    .ev-nslogo img {
        top: -0.5em;
        left: 0.5em;
    }
    .tns-modal--paywall h1 {
        font-size: 3em;
        margin-top: 0.6em;
    }
    .ev p {
        font-size: 1.6em;
    }
    .tns-modal--paywall .col-md-8 {
        padding: 0 3em 2em 2.5em;
    }
}
@media (min-width: 1440px) {
    .col-md-4 .ev .form-group:after {
        top: 1.05em;
    }
}
@media (max-width: 390px) {
    #login-flip-front {
        padding: 0;
    }
}
@media (min-width: 700px) and (max-width: 950px) {
.tns-modal {width: 60%;}
}

/***** Login Modal ****/
.flip-front{
    position: relative !important;
}

.bgop:after {
    content:  '';
    position:  absolute;
    top: 0;
    left:  0;
    position:  absolute;
    z-index: 99;
    width:  100%;
    height:  100%;
    background: #000000bd;
}

.search-toggle {
    float: left !important;
}
.site-nav li.subscribe-link a {
    font-weight: 600;
    line-height: 2;
    margin-top: .12em;
    letter-spacing: 1px;
}

.ev-nslogo img {
    max-width: 5em;
    top: -1.5em;
    position: relative;
    left: -.6em;
}

.flip-back {
    position: absolute;
    top: 2em;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #acacac;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 600;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #5f5c5c;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ev-edit-profile .col-sm-offset-2 {
    margin-left: 0 !important;
}
ev-edit-profile .col-sm-10 {
    width: 100% !important;
}

#ChangePassword .col-sm-offset-2 {
    margin-left: 0 !important;
}
#ChangePassword .col-sm-10 {
    width: 100% !important;
}
#ChangePassword #buttonPanel {
    padding-bottom: 1em;
}

.notLoggedIn {
    font-size: 2em;
    /*font-family: Lato, sans-serif;*/
    font-family: Unit, "Helvetica Neaue", Helvetica, Arial, sans-serif;
    text-align: center;
     font-size: 1rem !important;
}

.ev .tab button {
    /*font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Unit, "Helvetica Neaue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.navLoggedIn {
    margin-top: .33em;
    position: relative;
    display: inline-block;
    font-size: 1rem !important;
}

.modal-ent .tns-right {
    display: none;
}

.modal-ent .circles-list {
  max-width: 20em;
    margin: 2em auto;
    text-align: left;
}

.modal-ent .circles-list {
  max-width: 20em;
    margin: 2em auto;
    text-align: left;
}

.modal-ent .col-lg-12 {
  text-align: center;
}

.header-mya {
    margin:  2em 0;
    padding: .5em 0;
    border-bottom: 1px solid #c2072b;
}

.header-mya h2 {
    font-size: 2.8em;
    padding-left: .6em;
}



/* Subscription Page */
#content {
  margin-bottom: 0;
}
.checkout-container {
	overflow: hidden;
}
.subscription-header, .why-choose-digital  {
    text-align: center;
    margin: 0 auto 5em auto;
    padding: 4em 2em;
    position: relative;
}
    .subscription-header:before, .why-choose-digital:before {
        content: '';
        position: absolute;
        left: -5000px;
        right: -5000px;
        width: 15000px;
        top: 0;
        bottom: 0;
        background: #c1002b;
        display: block;
    }
    .why-choose-digital:before, .student-header:before {
        background: #6c8798;
    }
    .student-cta {
        text-align: center !important;
        margin: 0 0 5em 0 !important;
    }
    /*.subscription-header:after {
        content: '';
        position: absolute;
        right: -5000px;
        width: 5000px;
        top: 0;
        bottom: 0;
        background: black;
        display: block;
    }*/
    .subscription-header h1 {
        font-size: 4em;
        width: 900px;
        max-width: 100%;
        color: white;
        position: relative;
        z-index: 99;
        margin: 0 auto 0em auto;
    }
      .subscription-header h1 small {
        display: block;
        font-size: 50%;
      }
    .subscription-header p, .why-choose-digital ul {
        width: 900px;
        max-width: 100%;
        color: white;
        position: relative;
        z-index: 99;
        margin: 0 auto;
        font: 2.4em "Source Sans Pro", helvetica, arial, sans-serif;
    }
        .subscription-header p:last-of-type {
            font-size: 2.7em;
            font-weight: 600;
            margin-top: 1em;
        }
            .subscription-header p:last-of-type a {
                color: white;
            }
    .student-cta {
      text-align: center;
      margin: 0 0 5em 0;
    }
.subscription-options {
margin-bottom: 3em;
}
.subscription-options .large-4 {
    padding: 0 1.5em;
}
.subscription-option {
    border: solid 1px #ccc;
    margin-top: 3em;
    text-align: center;
    padding: 3em 0;
    min-height: 84em;
    transition: all 0.4s ease-in-out;
    position: relative;
}
    .subscription-option:hover {
        box-shadow: 0 0 2em 0 rgba(0,0,0,0.1);
    }
    .subscription-option h2 {
        font: 4em "Unit";
        margin: 0;
    }
    .nsinstant {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        width: 8em;
    }
    .product-image {
        margin: 2em 0 0 0;
        padding: 0 2em 0em 0em;
        height: 20em;
    }
      .product-image img {
          max-height: 20em;
      }
    .features {
        font: 300 1.4em/1.5 Merriweather;
        margin-bottom: 2em;
        margin-top: 1em;
        color: #777;
    }
      .features li {
        display: inline-block;
        margin: 0.5em 0;
        padding-left: 0;
      }

  .offer {
    background: #f7f7f7;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    position: relative;
    padding: 3em 0;
  }
    .subscription-option h3 {
        font: 600 3em "Source Sans Pro", Arial, sans-serif;
        color: black;
        margin: 0;
    }
      .subscription-option h3 small {
        display: block;
        opacity: 0.4;
        font-size: 60%;
      }
      .subscription-option h3 .old-price {
        text-decoration: line-through;
        opacity: 0.5;
        font-size: 80%;
        margin-right: 0.2em;
      }
    .save-cta {
      font: 2em Merriweather, Georgia, serif;
      padding: 0.5em;
      width: 3.6em;
      height: 3.6em;
      position: absolute;
      z-index: 99;
      background: black;
      border-radius: 100%;
      color: white;
      right: -0.5em;
      margin-top: -5em;
    }
    .subscription-option.print-subscription .cta {
        margin-top: 2.9em;
    }
        .subscription-option .cta a, .product-item .product-footer .btn-default {
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 0.2em;
            color: #fff;
            font: lighter 1.2em "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 1;
            text-transform: uppercase;
            padding: 0.8em 1.5em;
            display: inline-block;
            text-decoration: none;
            letter-spacing: 0.1em;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            box-shadow: 0.1em 0.1em 0.3em 0 rgba(0,0,0,0.2);
            background: #ad0026 !important;
        }
          .subscription-option .cta a:hover {
            box-shadow: 0.05em 0.05em 0.1em 0 rgba(0,0,0,0.6);
            background: #e82550 !important;
          }
    ul.benefits, .product-features ul {
        margin: 0 !important;
        padding: 1em 1em 0 2.5em;
        font: 600 1em "Source Sans Pro";
        text-align: left;
    }
        ul.benefits li, .product-features ul li {
            padding-left: 0;
            margin-bottom: 0.5em;
        }

.subscription-option .product-footer {
    display: none;
}


.best-value {
    border: solid 3px #c1002c;
    position: relative;
}
    .best-value:before {
        content: "Best Value";
        position: absolute;
        font: 300 2em/1 "Merriweather";
        text-transform: uppercase;
        color: white;
        top: -2.2em;
        background: #c1002c;
        width: 12em;
        left: 50%;
        margin-left: -6em;
        padding: 0.6em 0 0.45em 0;
    }

.why-choose-digital {
    padding-top: 3em;
    margin-bottom: 0;
    margin-top: 15em;
}
    .why-choose-digital .row {
        position: relative;
    }
.why-choose-digital p {
    margin: 0;
    font-size: 2.1em;
    color: black;
    text-align: left;
    position: relative;
    padding-left: 4em;
}
    .why-choose-digital p:before {
        content: "\f095";
        font: 2em fontawesome;
        color: black;
        position: absolute;
        left: 0.5em;
        top: 0.3em;
    }
    .why-choose-digital p a {
        color: black;
        word-break: break-word;
    }
.why-choose-digital ul {
    margin: 0;
    font: 1.6em/1.5 "Source Sans Pro", Arial, sans-serif;
    color: white;
}
.why-choose-digital ul ul {
  font-size: 1em;
  margin: 0.2em 0 0.5em 2em;
}
.social-logos {
    margin: 1em 0 0 0;
    padding-left: 4em;
    font: 1.6em/1.5 "Source Sans Pro", Arial, sans-serif;
    color: white;
    text-align: left;
}
    .social-logos li {
        display: inline-block;
    }
        .social-logos a {
            display: block;
            width: 4em;
            height: 4em;
            text-indent: -5000px;
            overflow: hidden;
            position: relative;
        }
            .social-logos a:after {
                content: "\f099";
                font: 2em/2em fontawesome;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                color: white;
                text-indent: 0;
            }
            .social-logos li.facebook a:after {
                content: "\f09a";
            }

.node-paywall > div.testimonials, .testimonials {
    width: 100% !important;
    background: #dd6c54;
    position: relative;
    padding: 5em;
}
    .testimonials:before {
        content: '';
        position: absolute;
        left: -5000px;
        width: 10000px;
        right: -5000px;
        top: 0;
        bottom: 0;
        display: block;
        background: #03020e;
    }
    .testimonials blockquote {
        z-index: 9;
    }
        .testimonials blockquote p {
            line-height: 1.5;
            width: 500px;
            font: 4em Unit;
            color: white;
            position: relative;
            padding-left: 1em;
            quotes: "“" "”" "‘" "’";
        }
            .testimonials blockquote p:before {
                content: open-quote;
                position: absolute;
                left: 0;
                top: 0;
            }
            .testimonials blockquote p:after {
                content: close-quote;
                position: absolute;
                right: 6.5em;
                bottom: 0;
            }
        .testimonials blockquote cite {
            display: block;
            color: #ac0227;
            font-size: 2.1em;
            font-style: italic;
            position: relative;
            margin: 0.5em 0 0 2em;
        }



@media (max-width: 460px) {

}
@media (max-width: 500px) {
    .node-paywall > div.testimonials {
        padding: 3em;
    }
}
@media (min-width: 490px) and (max-width: 728px) {
    .checkout-header .large-2 {
        float: left;
        width: 30%;
    }
    .checkout-header .large-10 {
        float: right;
        width: 70%;
    }
}
@media (max-width: 1200px) {
	.checkout-container{
		overflow: inherit !important;
}
.testimonials blockquote p {
width: 90% !important;
}
/*#onscroll-sticky-footer iframe,.article-theme iframe{*/
#onscroll-sticky-footer iframe{
			    display: none !important;
		}
}
@media (max-width: 768px) {
	.checkout-container{
		overflow: inherit !important;
	}
  .subscription-header h1 {
    font-size: 3.3em;
  }
  .subscription-header p, .why-choose-digital ul {
    font-size: 2.1em;
  }
  .student-cta {
    margin: 0 0 2em 0;
  }
  .save-cta {
    font-size: 1.8em;
    margin-top: -6em;
  }
  .ev .pm2 .product-item-container {
    margin-bottom: 0;
  }
  .secure-box {
    padding: 0;
  }

  .use-delivery-address {
    display: block;
    margin: 1em 0;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    padding: 0.2em 0 0.3em 0;
  }
  .ev .pm2 .profile-section-title label {

  }
}
@media (min-width: 768px) {
    .why-choose-digital img {
        margin: -11em 0;
    }
}
@media (max-width: 900px) {
    .subscription-header h1 {
        font-size: 3.6em;
      }
  .subscription-options .large-4 {
    width: 100%;
    float: none;
    margin-bottom: 4em;
    padding: 0;
  }
    .subscription-option {
        margin-bottom: 0;
        height: auto;
    }
    .print-subscription {
      margin-bottom: 6em;
    }
    .testimonials blockquote p {
        font-size: 1.8em;
    }
}
@media (max-width: 992px) {
    .ev .product-item-container {
        width: 100% !important;
    }
}
@media (max-width: 1220px) {
    .checkout-header {
        padding-left: 2em;
        padding-right: 2em;
    }
    .node-paywall {
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media (max-width: 500px) {
    .why-choose-digital {
        padding: 3em 0;
    }
        .why-choose-digital p {
            font-size: 1.6em;
        }
}
@media (max-width: 550px) {
    .checkout-header {
        text-align: center;
    }
        .checkout-header .large-2 {
            margin: 0 auto;
            float: none;
        }
        .checkout-header .site-logo {
            padding-top: 2em;
        }
            .checkout-header .site-logo:before {
                top: 1.3em;
            }
    .secure-text {
        display: none;
    }
}








/* *****  Checkout ***** */
/* Remember my child; 75% of user abandon checkout. You must make the percentage very less on New Statesman, my child. */

.checkout-header .site-logo {
    width: 100% !important;
    text-align: left;
    padding: 2.4em 0 2.2em 4em;
    position: relative;
    padding-left: 0;
}
    .checkout-header .site-logo:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1.5em;
        width: 2em;
        height: 3em;
        background: url(https://hiran-2-new-statesman.pantheonsite.io/sites/default/files/styles/large/public/shield.png) no-repeat;
        background-size: 100%;
    }
    .checkout-header .site-logo img {
        max-width: 13em;
    }

.site-header-top .checkout-header .site-logo {
    display: block;
}

.checkout-header .tns-evo-profile {
    float: right;
    margin-top: 0.65em;
    margin-right: 2em;
}
.secure-text {
  text-align: right;
  font: 2.1em "Source Sans Pro", arial, sans-serif;
  color: #666;
  padding: 1em 3em 1em 0;
  position: relative;
  display: inline-block;
  float: right;
}
  .secure-text:after {
    content: "\f00c";
    font: 1.6em fontawesome;
    color: #53ba5a;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
  }

.widget-body {
    padding: 3em 0;
}


/* Login */
#login-flip {
    max-width: 100%;
    width: 50em;
    margin: 3em auto;
}

/** ev-profile **/
ev-profile .tabcontent {
    /*overflow: auto;*/
    overflow: hidden;
    padding-bottom: 2.8em;
}

.product-footer {
    text-align: left !important;
    padding: 0;
    margin: 0;
}
    .product-item .product-footer .btn-default {
        border-radius: 0.3em;
        font-size: 1.6em;
        margin: 0;
        padding: 1em 2em;
        background: #53ba5a;
    }

.widget-profile {
    width: 70em;
    max-width: 100%;
}
.profile-section-title, .article-body .ui-accordion .widget-header {
    text-align: left;
    font-size: 2.4em;
    border-top: solid 3px black;
    padding-top: 0.5em;
    font-size: 2.1em;
    margin: 1em 0;
}
    .profile-section-title label {
        font: 1em "Source SansPro", arial, sans-serif;
    }

.ev .btn-success {
    width: 14em;
    font-size: 1.8em;
    padding: 0.5em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.product-summary-container table td {
    text-align: left;
    font: 1.8em/1.4 "Source Sans Pro", Arial, sans-serif;
}

.checkout-footer {
    border-top: solid;
    padding: 3em 0;
}
    .checkout-footer .secure-badge {
        float: right;
    }




/** some fixes ***/
#buttonPanel button {
   width: 100%;
}
.form-group label {
    font-weight: lighter;
    text-align: left;
}
/*.flip-back, .flip-front {
    background: white !important;
}*/
.tns-right {
    background: whitesmoke !important;
}
a.tns-goto-register {
    cursor:  pointer;
}
a.tns-goto-login {
    cursor:  pointer;
    display: inline-block;
}

#buttonPanel button {
    width: 100%;
    /*font-family: 'Source Sans Pro', Helvetica Neue, sans-serif;*/
    font-family: Unit, "Helvetica Neaue", Helvetica, Arial, sans-serif;
    font-size: 1.8em !important;
}

.validation{
      color: #da0808;
    font-size: 0.8125rem;
    text-align: left;
    margin: 5px -6px;
    /* margin-right: 6px; */
    padding-right: 32px !important;
    font-weight: bold;
}
.form-group.col-sm-9{
    margin-bottom: 5px !important;
}

/** mobile navigation buttons **/
@media (max-width: 440px) {
    .ev .btn-success {
        width: 100%;
    }
}
@media (max-width: 700px) {
  .site-header .tns-evo-profile .tns-register {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: .5em;
    margin-left: 0;
  }
  .site-header .tns-evo-profile .tns-login {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: .5em;
  }
  .tns-evo-profile {
    width: 100%;
    padding-left: 0.1em;
    margin-right: 0;
    margin-top: 0.5em;
  }
  .tns-evo-profile ev-profile {
      float: none;
      width: 100%;
  }
  .tns-modal {
      width: 96%;
  }
}


#login-divider  div.txt_spacer span.spacer { height:1em;  margin: 0.8em 0 0;}


.stripe-payment div.error { background-image:none; overflow: hidden;     padding-bottom: 10px;}

.stripe-payment .error svg { margin:10px;}
.stripe-payment .error .message {
    color: #e25950;
    display: block;
    margin-top: -28px;
    text-align: left;
margin-left: 36px; }

/*.ev #widget-body .btn-success{
	font-size: 1.8em !important;
}*/
.alert-danger span{
    font-size: 11px;
}


/***** fix center align for paywall modal ******/
.tns-modal--paywall .ev .row {
    margin-right: 0px;
    margin-left: 0px;
}
.tns-modal--paywall h2 {
    text-align: center;
}

button.ev.btn.btn-success {
    background: #c1002b;
    opacity: 1;
    text-transform: uppercase;
    box-shadow: none !important;
    border: none !important;
    letter-spacing: 0;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !Important;
    font-weight: 600 !important;
}

#widget-body .remember-me {
    position: relative;
    /*top: 0.6em;*/
}

#login-flip-back {
    width: 500px;
    max-width: 100%;
}





/**** subs page registration fix *****/
ev-registration[name="register_subs_page"] {
    overflow: auto;
    display: block;
}

ev-profile-when.subspage {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

ev-profile-when.subspage .tns-pp {
    text-align: center;
    margin-bottom: 1.5em;
}

ev-profile-when.subspage .already-a-member {
    margin: 0 auto;
}

ev-profile-when.subspage #registration, ev-profile-when.subspage #registration button.ev.btn.btn-success {
    width: inherit;
    max-width: inherit;
    margin-top: 12px;
}

#accordion.subspage .btn-success {
    background-image: none !important;
    background-color: #ad0026 !important;
}

#accordion .ui-state-active .arrow svg {

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

}

#accordion .arrow {
    margin-right: 0.4em;
    float: left;
    line-height: 1em;
}

#accordion > h3 {
    text-transform: uppercase;
}

.subspage ev-registration label {
    margin-left: 1.1em;
    padding-bottom: 0 !important;
}

.subspage ev-product-profile label{
    padding-left: 0 !important;
    text-transform: uppercase;
    font-size: 1.5em;
}

.subspage ev-product-profile .use-delivery-address label, .subspage ev-product-profile .use-billing-address label {
    text-transform: lowercase;
    font-size: 0.8em;
}

.subspage ev-product-selection .product-body {
    float: left !important;
    width: 50%;
}

.subspage ev-product-selection .product-footer {
    clear: both !important;
}

.subspage ev-product-selection .payment-price, .subspage ev-product-selection .payment-frequency {
    display: none !important;
}

.subspage ev-product-selection .product-footer button {
    display: block !important;
    margin: 0 auto !important;
    left: -2em;
    position: relative;
}

.subspage ev-product-selection input[type="checkbox"] {
    width: 3%;
}

.subspage ev-product-selection .payment-text {
    width: 86%;
    text-align: left;
}

.subspage ev-product-selection .product-image:after {
    content: "";
    background-image: url(https://www.newstatesman.com/sites/default/files/styles/large/public/google-play-and-apple-app-store-logos-two-up.png?itok=-dlnHzHQ);
    background-size: contain;
    display: block;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: relative;
    left: 4em;
}

.subspage ev-product-selection[title="Print Only"] .product-image:after,
.subspage ev-product-selection[title="Student Print Only"] .product-image:after{
    content: none !important;
}

.subspage ev-product-selection .product-header{
    display: inline-block;
    float: left;
    min-width: 40%;
}

.subspage ev-product-selection .product-header .product-features{
    clear: both;
}

.subspage ev-product-selection .product-header .product-image{
    width: auto;
}


.ev .pm2 .product-image img{
    height: 100% !important;
}


.subspage #widget-body label {
   font-size: 2em !important;
   width: 100%;
   margin-left: 15px;
   margin-bottom: 4px;
}
.subspage #widget-body input::placeholder {
   font-size: .8em;
}

.subscription-options span.single-issue{
    font: 600 1.4em "Source Sans Pro", Arial, sans-serif;
}

.subscription-options span.astrick{
    vertical-align: sub;
}





/**** my-account page fix ****/

ev-edit-profile label[for="street"] + .ev div::before,
ev-edit-profile label[for="address1_first_name"] + .ev div::before {
    content: "Delivery Address" !important;
    font-weight: bold !important;
    color: black !important;
    font-size: 1.5em !important;
    padding-bottom: 15px !important;
    margin-top: 1em !important;
}

ev-edit-profile label[for="street2"] + .ev div::before,
ev-edit-profile label[for="address2_first_name"] + .ev div::before {

    content: "Billing Address" !important;
    font-weight: bold !important;
    color: black !important;
    font-size: 1.5em !important;
    padding-bottom: 15px !important;
    margin-top: 1em !important;
}

.my-account-page .widget-container .btn-success {
    margin-top: 1em;
}

.my-account-page .widget-container {
    margin-top: 1.4em;
}

body.ev-is-anon .my-account-page .tns-login {
    background: none;
    color: black;
}

body.ev-is-anon .my-account-page{
    font-size: 2em;
}



/**** registration modal fix ****/

#registration {
    margin: 0 auto 2em auto !important;
}

.tns-modal--register .tns-pp {
    text-align: center;
}

.tns-modal--register .tns-right {
    margin-top: 3.5em;
}

.tns-modal--register #widget_social_icon_btns_desc {
    display: block !important;
}

.ui-accordion .ev .pm2 .product-features li {
    font-size: 1.2em;
}
.tns-modal--paywall .col-md-8 ul li:before, .subscription-option ul li:before, ev-product-selection .product-features ul li:before {
    font-size: 1.5em;
    color: #e2011c;
    margin-right: .5em;
}

.ev .pm2 .payment-plans-header {
    font-size: 16px;
    font-weight: 600;
    margin: 3em 1em;
    margin-bottom: -1.5em;
}

.subspage #widget-body label {
    color: #333333;
    font-family: Unit,"Helvetica Neaue",Helvetica,Arial,sans-serif;
}

.subspage .ev .pm2 label {
    font-weight: 600;
    font: 16px ProximaNovaRegular,Helvetica,sans-serif;
    color: black;
    margin-bottom: 5px !important;
}
@media (min-width: 970px) and (max-width: 1220px) {
    .subspage ev-product-selection .product-body {
        width: 40%;
    }
}

ev-registration #widget-body .widget-label {
    display: block;
}

div.ev.form-group{
    clear:both;
}

/** login modal fixes **/
ev-login #widget-body .widget-label {
    display: block;
}

.thankyouns .alert {
    background: white;
    font-size: 3em;
    padding: 2em 0;
    border: 5px solid #c2072b;
    color: black;
    margin-bottom: 2em;
}

#registrationCaptureAttrs .ev .col-sm-12, #registrationCaptureAttrs .form-group.col-sm-9{ padding-left:0}
#registration .rvalidation.col-sm-12 { padding-left:15px !important; margin-top: -12px;}

iframe.twitter-tweet{
    display:block !important;
}

@media (min-width: 1460px){
    .tns-modal--paywall .tns-close{
        top:-2.9em;
    }
}
@media (max-width: 1366px){
    .tns-modal--paywall .tns-close{
        top:-2.6em;
    }
}
@media (max-width: 812px){
    .tns-modal--paywall .tns-close{
        top:-2.9em;
    }
}

.subspage ev-product-selection div[ng-if="orderTypeOption"]{
    display: none;
    width: 31%;
    flex-direction: row-reverse;
}
.product-footer {
    display: flex;
    justify-content: center;
}
button.btn.btn-default.btn-lg.ng-binding {
    margin: 0 -5% 0 38% !important;
}
.subspage .product-footer div[ng-if="orderTypeOption"] label {
    font-family: inherit !important;
    margin: auto 0 !important;
}
input#orderType-print_only_ {
    transform: scale(1.3);
    margin: auto 4% auto 0;
    width: 8%;
}
@media (min-width: 300px) and (max-width: 754px) {
    .product-footer {
        flex-direction: column-reverse;
    }
    .subspage ev-product-selection div[ng-if="orderTypeOption"] {
        width: 100%;
        margin-bottom: 10%;
    }
    input#orderType-print_only_ {
        margin: auto 0;
    }
    button.btn.btn-default.btn-lg.ng-binding {
        margin: 0 12% !important;
        width: 100%;
    }
    .subspage ev-product-selection .product-body {
        width: 100%;
    }
    .subspage ev-product-selection input[type="checkbox"] {
        width: initial;
    }
    .ev .pm2 .payment-content li {
        display: flex;
        padding: 1em 0;
    }
}
@media (min-width: 750px) and (max-width: 1000px) {
    .subspage ev-product-selection div[ng-if="orderTypeOption"] {
        justify-content: flex-end;
        width: 40%;
    }
    button.btn.btn-default.btn-lg.ng-binding {
        margin: 0 0 0 10% !important;
        width: inherit;
    }
    .product-footer {
        justify-content: flex-start;
    }
}

.subscription-option .reduced-price{
    font-size: 1.5em;
}

.subscription-option .reduced-price .old-price {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 80%;
    margin-right: 0.2em;
}


body.ev-subbed .subscribe-link, body.ev-subbed .subscribe-promo, body.ev-subbed .offer-text{
    display:none;
}

/*** new styling fixes for widget 3.5.34 **/

.ev-social-btn-icon .fa-google:before {
    content: "\f0d5";
}

.ev-social-btn .ev-social-btn-text{
    display: none;
}

.ev-social-btn-icon{
    padding: 0 0.6em;
    font-size: 2.8em;
    line-height: 45px;
}

.btn-google .ev-social-btn-icon{
    padding-right: 0.2em;
}

.ev-social-btn-wrapper{
    margin: 3px;
    border-radius: 6px;
}


/**** catcha styling ***/
ev-paywall .g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}

ev-registration .btn-success {
    margin-top: 0 !important;
}

ev-registration .g-recaptcha {
    margin-top: 1em;
}

/*** fixes ev-widget library styling **/
.profile-section .selectDots{
    display: inline-block;
}

#g-recaptcha-id .form-group:after{
    content: none !important;
}


/** privateMode modal styles **/
@font-face {
    font-family: 'Unit Slab Pro light';
    src: url(/sites/all/modules/paywall/assets/fonts/custom/UnitSlabPro-Light.eot?) format('eot'), url(/sites/all/modules/paywall/assets/fonts/custom/UnitSlabPro-Light.woff) format('woff'), url(/sites/all/themes/creative-responsive-theme/fonts/UnitSlabPro-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tns-modal--privateMode p, .tns-modal--privateMode h1,
.tns-modal--privateMode h2, .tns-modal--privateMode h3,
.tns-modal--privateMode h4, .tns-modal--privateMode span {
    font-family: "Unit Slab Pro light", Georgia, "Times New Roman", serif;
}

.tns-modal--privateMode .text-center{
    text-align: center;
}

.tns-modal--privateMode .tns-close {
    top: -1em;
    right: -1em;
    background: white !important;
    color: black !important;
}

.tns-modal--privateMode{
    max-width: 860px;
    min-width: 420px;
    color: white;
    background: #d2232a;
    width: 45%;
}

.tns-modal--privateMode img {
    width: 80% !important;
}

.tns-modal--privateMode .modal-header h1{
    font-family: "Unit Slab", Georgia, "Times New Roman", serif;
    margin-top: 0;
    margin-bottom: 0.2em;
    margin-left: 1em;
}

.tns-modal--privateMode .register{
    background: white;
    color: black;
    padding: 0.2em 0.3em;
}

.tns-modal--privateMode .login-link-container {
    font-size: 1.6em;
}

.tns-modal--privateMode .modal-content{
    padding-bottom: 0 !important;
}

.tns-modal--privateMode .modal-message{
    font-size: 2.25em;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.tns-modal--privateMode h4{
    font-size: 3em;
    margin-top: 10px;
}

.tns-modal--privateMode button{
    font-family: "Unit Slab", Georgia, "Times New Roman", serif !important;
    font-size: 1.9em;
}

.tns-modal--privateMode .modal-options {
    font-size: 2.2em !important;
    margin: 0 10px;
}

.tns-modal--privateMode button.tns-goto-login {
    color: white;
    background: black;
    padding: 0.2em 0.3em;
}

.tns-modal--privateMode .tns-close {
    font-size: 22px;
    line-height: 28px;
    width: 30px;
    height: 30px;
}
.other-details{
	display: none;
}
/*** home page ***/
@media (min-width: 729px){
    .readmore-container {
        border-right: 0.7em solid #d4d4d4;
    }
    .subscribe-promo {
        border-left: 0.7em solid #d4d4d4;
    }
}
